#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 16px;
    background-color: #f0f0f0;
    min-height: 100vh;
}

header {
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: var(--primary-color);
    text-shadow: 2px 2px 2px var(--secondary-color);
}

header p {
    font-size: 1.2rem;
    color: var(--text-main);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.loading {
    display: flex;
    font-size: 2rem;
}

.loading span {
    opacity: 0.25;
}

.loading span:first-of-type {
    animation: appear 1.8s ease infinite 0s
}

.loading span:nth-of-type(2) {
    animation: appear 1.8s ease infinite 0.6s
}

.loading span:nth-of-type(3) {
    animation: appear 1.8s ease infinite 1.2s
}

@keyframes appear {
  from {
    opacity: 0.25;
  }
  15% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}
