@font-face {
    font-family: pokemon-head;
    src: url(src/assets/PokemonSolid.ttf) format("truetype");
}

@font-face {
    font-family: pokemon-text;
    src: url(src/assets/PokemonGb-RAeo.ttf) format("truetype");
}

:root {
  --primary-color: #ffcb05;
  --secondary-color: #3c5aa6;
  --text-main: #1f2937;
  --bg-app: #f3f4f6;
}

body {
  font-family: pokemon-text;
  font-size: 0.72rem;
  background-color: var(--bg-app);
  color: var(--text-main);
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}
