:root {
  --primary-color: #ffcb05;
  --text-main: #1f2937;
  --bg-app: #f3f4f6;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-app);
  color: var(--text-main);
}

/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}
